@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kényszerített olvashatóság (gyors hack) */
.text-gray-400 { color: #05162e !important; } /* gray-600 */
.text-gray-500 { color: #222c3b !important; } /* gray-700 */
.text-gray-300 { color: #303847 !important; } /* gray-500 */
